.container
  .row
    - if current_user
      .col-md-6
        %h1
          Привет, 
          = current_user.full_name
        .accounts
          %h2 Ваши данные
          #UserInfo
    - else
      %h1 wat
