.container
  .row
    .col-md-6.col-md-offset-3
      .text-center
        %h3 Войди в меня
        %button.btn.btn-flat.btn-material-indigo-A700#sign-vk{"data-provider" => "vk", :onclick => "nothing();"}
          %i.fa.fa-vk.fa-2x
        %button.btn.btn-flat.btn-info#sign-twitter{"data-provider" => "twitter", :onclick => "nothing();"}
          %i.fa.fa-twitter.fa-2x